@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.title{
  text-shadow: 1px 1px 2px rgb(5, 5, 5), 0 0;
}

.input-field{
  background-color: rgb(63, 60, 60);
  padding: 5px;
  border-radius: 5px;
  font-weight: 500;
  width: 300px;
  text-align: center;
  font-family: Georgia, Times, 'Times New Roman', serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
}
